[package]
name = "dir-signature"
description = """
    This crate allows to create a signature (index) of a directory with files.
"""
license = "MIT/Apache-2.0"
readme = "README.rst"
keywords = ["dir", "signature", "file", "sync", "index"]
homepage = "http://github.com/tailhook/dir-signature"
documentation = "http://docs.rs/dir-signature"
version = "0.1.0"
authors = ["paul@colomiets.name"]

[dependencies]
argparse = "0.2.1"
quick-error = "1.1.0"
log = "0.3.6"
env_logger = "0.3.5"
rustc-serialize = "0.3.21"
regex = "0.1.80"
sha2 = "0.3.0"
blake2 = "0.3.0"
digest-writer = "0.1.0"
generic-array = "0.5.1"
typenum = "1.5.1"
openat = "0.1.0"
ignore = "0.1.6"
num_cpus = "1.2.0"
itertools = "0.5.8"
difference = "0.4.1"
